name: Main
# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  watch:
    types: [started]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Maximize build space
      uses: easimon/maximize-build-space@v4
      with:
          root-reserve-mb: 1024
          swap-size-mb: 1024
          remove-dotnet: 'true'
          remove-haskell: 'true'
          remove-android: 'true'
    - name: Checkout
      uses: actions/checkout@v2
    - name: Echo Free space
      run: |
        sudo apt purge -yq $(dpkg -l | grep '^ii' | awk '{ print $2 }' | grep -P '(cabal-|dotnet-|ghc-|libmono|php)') \
        liblldb-6.0 libllvm6.0:amd64 mono-runtime-common monodoc-manual powershell ruby
        sudo rm -rf /opt/az /usr/local /usr/share/dotnet
        sudo apt autoremove -yq
        echo "Free space:"
        df -h
    - name: ndk
      run: |
        curl https://dl.google.com/android/repository/android-ndk-r21d-linux-x86_64.zip -o ndk.zip
        unzip ndk.zip -d /tmp/ndk
        ls /tmp/ndk
        ls /tmp/ndk/android-ndk-r21d
    - name: Set up Python 2.x
      uses: actions/setup-python@v2
      with:
        python-version: '2.x'
    
    - name: Prepare
      run: |
        sudo apt-get install bzip2 cmake clang
    - name: Get Resource
      run: |
        export CC=clang
        export CXX=clang++
        git clone --depth 1 https://github.com/google/iree.git
        cd iree
        git submodule update --init --depth 1
        sed -i '3i #include <limits>' third_party/benchmark/src/benchmark_register.h
        cmake -B ../iree-build/ \
          -DCMAKE_INSTALL_PREFIX=../iree-build/install \
          -DCMAKE_BUILD_TYPE=Release \
          -DIREE_BUILD_TESTS=OFF \
          -DIREE_BUILD_SAMPLES=OFF \
          .
          
        cmake --build ../iree-build/ --target help  
        cmake --build ../iree-build/ --target install
        
        cmake -B ../iree-build-android/ \
          -DCMAKE_TOOLCHAIN_FILE="/tmp/ndk/android-ndk-r21d/build/cmake/android.toolchain.cmake" \
          -DIREE_HOST_BINARY_ROOT="$PWD/../iree-build/install" \
          -DANDROID_ABI="arm64-v8a" \
          -DANDROID_PLATFORM="android-29" \
          -DIREE_BUILD_COMPILER=ON \
          -DIREE_BUILD_TESTS=OFF \
          -DIREE_BUILD_SAMPLES=OFF \
          -DIREE_ENABLE_MLIR=OFF \
          -DCMAKE_INSTALL_PREFIX=../iree-build-android/install \
          .
          
        cmake --build ../iree-build-android --target install
        tar -cvJf ~/iree.tar.gz ../iree-build-android/install
    - name: upload
      uses: actions/upload-artifact@v2
      with:
        name: iree
        path: '~/iree.tar.gz'
    - name: download
      uses: actions/download-artifact@v2
      with:
        name: iree
        path: '~/iree.tar.gz'

