name: Main
# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  watch:
    types: [started]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build-v8:
    runs-on: ubuntu-latest
    steps:
    - name: install repo
      run: |
        sudo apt install wget unzip
        mkdir -p ~/.bin
        PATH="${HOME}/.bin:${PATH}"
        curl https://storage.googleapis.com/git-repo-downloads/repo > ~/.bin/repo
        chmod a+rx ~/.bin/repo

        mkdir llvm-toolchain && cd llvm-toolchain
        pwd
        wget https://dl.google.com/android/repository/android-ndk-r23-linux.zip
        unzip anandroid-ndk-r23-linux.zip

        repo init -u https://android.googlesource.com/platform/manifest -b llvm-toolchain
        repo sync -c -j8


