name: Main
# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  watch:
    types: [started]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build-v8:
    runs-on: ubuntu-latest
    steps:
    - name: install repo
      run: |
        mkdir -p ~/.bin
        PATH="${HOME}/.bin:${PATH}"
        curl https://storage.googleapis.com/git-repo-downloads/repo > ~/.bin/repo
        chmod a+rx ~/.bin/repo
        mkdir android-games-sdk
        cd android-games-sdk
        repo init -u https://android.googlesource.com/platform/manifest -b android-games-sdk

        repo sync -c -j8 gamesdk
        repo sync -c -j8 external/modp_b64 external/googletest external/nanopb-c external/protobuf
        repo sync -c -j8 prebuilts/cmake/linux-x86 prebuilts/cmake/windows-x86 prebuilts/cmake/darwin-x86

        cd gamesdk
        cat download.sh
        ./download.sh
