name: Main
# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  watch:
    types: [started]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build-v8:
    runs-on: ubuntu-latest
    steps:
    - name: install repo
      run: |
        sudo apt install wget unzip
        mkdir -p ~/.bin
        PATH="${HOME}/.bin:${PATH}"
        curl https://storage.googleapis.com/git-repo-downloads/repo > ~/.bin/repo
        chmod a+rx ~/.bin/repo
        mkdir android-games-sdk
        cd android-games-sdk
        repo init -u https://android.googlesource.com/platform/manifest -b android-games-sdk

    - name: agdk test
      run: |
        wget https://dl.google.com/developers/android/agdk/agdk-libraries-2021.1.0.zip 
        unzip agdk-libraries-2021.1.0.zip

    - name: repo sync
      run: |
        repo sync -c -v -j8
    - name: tree
      run : |
        ls -lah
        tree -L 6
    - name: build
      run : |
        cd gamesdk
        ANDROID_HOME=`pwd`/../prebuilts/sdk ./gradlew packageZip -d -Plibraries=swappy,tuningfork

